# Data
data/*.csv
data/*.json
!data/.gitkeep

# Models
model/*.joblib
model/*.pkl
model/*.bin
!model/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Outputs
accuracy.txt
*.log

# Environment
venv/
.env